@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans);
  --font-malayalam: var(--font-noto-malayalam);
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
